@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:ital,wght@1,900&display=swap');
.Tally_question{
    background-color: rgba(107, 211, 211, 0.534);
    width : 50vw;
    padding : 35px;
    margin : 10% auto;
    margin-bottom: 0%;
    border-radius: 15px;
}
.Tally_Container{
    border : 3px solid white;
    width : 50vw;
    /* height: 60vh; */
    margin: 5% auto;
    margin-bottom: 0%;
    background-image: url(./images/board.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Carter One', cursive;
    font-family: 'Nunito', sans-serif;
}
.Tally_row{
    width: 100%;
    /* border : 1px solid green; */
    display: flex;
}
.Tally_col1{
    /* border : 2px solid red; */
    border-bottom: 1px solid white;
    width: 20%;
    padding-top: 3%;
}
.Tally_col2{
    /* border : 2px solid green; */
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}
.Tally_answer{
    width: 40vw;
    /* height: 10vh; */
    display: flex;
    justify-content: space-around;
    margin :  1% auto;
    margin-bottom: 0%;
    /* border : 1px solid red */
}
.Tally_answer .option{
    width : 20%;
    /* border: 1px solid green; */
    /* background-image: url(./images/board.jpg);
    background-size: 100% 100%; */
    border-radius: 15px;
    position: relative;
    text-align: center;
}
.Tally_answer .option img{
    border-radius: 15px;
}
.Tally_answer .option h4{
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    color: teal;
    font-weight: 900;
}