.options {
    display: flex;
    position: absolute;
    width: 70vw;
    height: 35px;
    justify-content: space-around;
    /* z-index: 5; */
    top: 40%;
    left: 7%;
}

.multi_container {
    position: relative;
    text-align: center;
    color: red;
    margin-left: 10vw;
    font-size: 1vw;
    font-weight: bold;
}

.multi_container :active {
    transform: translateY(4px);
}

.multi_box {
    max-width: 11vw;
    width: 100%;
}


/* Centered text */
.multi_centered {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -31%);
}