/* *{
    transition-duration: 0.3s;
} */
.Hint {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 5px;
    width: 50vw;
    margin: 1% auto 0%;
    line-height: 5vh;
    height: 5vh;
    font-size: 12px;
}

.div1 {
    border: 1px solid rgb(36, 208, 226);
    background-color: rgba(36, 208, 226, 0.2);
    border-radius: 5px;
    width: 10vw;
    margin-right: 1%;
    line-height: 10vh;
    height: 10vh;
}

.div2 {
    border: 1px solid rgb(36, 208, 226);
    background-color: rgba(36, 208, 226, 0.2);
    border-radius: 5px;
    width: 40vw;
    display: flex;
    justify-content: center;
    line-height: 10vh;
    height: 10vh;
}

.div2 img {
    float: left;
    margin: 0 1%;
}

.AnswerDiv {
    width: 50vw;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;

    border-radius: 5px;
    line-height: 10vh;
    height: 10vh;
}

.btnCheck {
    width: 5vw;
    border-radius: 10px;
    border: none;
    height: 5vh;
    background-color: rgba(36, 208, 226, 0.2);
    border: 1px solid rgb(36, 208, 226);
}

.btnCheck h4 {
    color: white;
    font-size: 100%;
}

.minus {
    border: 1px solid rgb(36, 208, 226);
    background-color: rgba(36, 208, 226, 0.2);
    border-radius: 5px;
    width: 10vw;
    margin-right: 1%;
    line-height: 10vh;
    height: 10vh;
}

.show {
    border: 1px solid rgb(36, 208, 226);
    background-color: rgba(36, 208, 226, 0.2);
    border-radius: 5px;
    width: 10vw;
    margin-right: 1%;
    line-height: 10vh;
    height: 10vh;
}

.plus {
    border: 1px solid rgb(36, 208, 226);
    background-color: rgba(36, 208, 226, 0.2);
    border-radius: 5px;
    width: 10vw;
    margin-right: 1%;
    line-height: 10vh;
    height: 10vh;
}

.check {
    border: 1px solid rgb(36, 208, 226);
    background-color: rgba(36, 208, 226, 0.2);
    border-radius: 5px;
    width: 10vw;
    margin-right: 1%;
    line-height: 10vh;
    height: 10vh;
}

.days {
    border: 1px solid rgb(36, 208, 226);
    background-color: rgba(36, 208, 226, 0.2);
    border-radius: 5px;
    width: 10vw;
    margin-right: 1%;
    line-height: 10vh;
    height: 10vh;
}