@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:ital,wght@1,900&display=swap');

.stones{
	animation: float 6s ease-in-out infinite;
	font-family: 'Carter One', cursive;
    font-family: 'Nunito', sans-serif;
}
.stones:hover{
	transform: scale(1.3);
    cursor: grab;
}
.stones h1{
	font-size: 100%;
}
.stones hr{
	width: 40%;
	margin: 0 auto;
	border: 1px solid white;
	background-color: white;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}