.DivFrac-holder{
    /* border : 1px solid green; */
    width : 50vw;
    min-height: 80vh;
    margin: 10vh auto;
}
.DivFrac-holder .question-holder{
    /* border : 1px solid red; */
    width : 45vw;
    margin: 5% auto;
    height : 20vh;
    line-height: 20vh;
    border-radius: 15px;
    background-color: rgba(77, 204, 204, 0.445);
}
.DivFrac-holder .option-holder-clouds{
    /* border : 2px solid red; */
    width : 45vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.option-holder-clouds .opt{
    /* border : 1px solid green; */
    width : 40%;
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}